# Supabase → Project Settings → Database → Connection string (modo URI)
DATABASE_URL=postgresql://postgres:DodojuHPA1990@db.rtrldmwaidiliraebhcx.supabase.co:5432/postgres


# Opcional: restringe o CORS ao domínio do seu frontend em produção
FRONTEND_URL=https://forumadsoft-frontend-mxqq2hbdr-adoglesios-projects.vercel.app

PORT=3001
NODE_ENV=development
